
@{
    ViewData["Title"] = "Create";
}
@model Team
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Team</h4>
            <p class="card-description">
                Create
            </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Fullname"></label>
                    <input asp-for="Fullname" type="text" class="form-control" placeholder="Fullname">
                    <span asp-validation-for="Fullname"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionId"></label>
                    <select asp-for="ProfessionId" class="form-control" placeholder="Profession" asp-items="new SelectList(ViewBag.Profession,nameof(Profession.Id),nameof(Profession.Name))"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile"></label>
                    <input asp-for="ImageFile" class="form-control" placeholder="Image" accept="image/*">
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light"><a asp-action="Index">Cancel</a></button>
            </form>
        </div>
    </div>
</div>
